*{
    outline:none;
}
h2, p, table{
    text-align:center;
    font-family:Century Gothic;
}
.instruction{
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
.button{
    background-color:white;
    border-radius:5px;
}
input{
    background-color:white;
}