doctype html
html
  head
    title Sign In!
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language="javascript", src="/javascripts/lib/jquery.js")
    script(language="javascript", src="/javascripts/lib/lodash.js")
    script(language="javascript", src="/javascripts/signIn.js")
    
    //link(rel="icon",href="/image/pie_icon.gif",type="image/gif")
  body
    block content