extends signIn_layout

block content
    form#boxIn
        ul#_ulIn  
            li 
                h Sign in to account
            li
                input(id='username',  placeholder="Username", class='_input', maxlength='16', name='username', value= username)
            li
                input(id='password', placeholder="Password", type='password', class='_input', name='password', value= password)

            li
                input(id='_logIn', class='button', type='submit', value='Sign Up')
                input(id='_regist', class='button', value='Sign In')
            
            
            
        div(id='w_username', class='warning') 