*{
	outline:none;    
	font-family: "Microsoft YaHei";
	color:blue;
}
ul{
	list-style-type:none;
	text-align:right;
	position:relative;
	left:-250px;
}
li{
	font-size:18px;
}
#boxIn, #boxUp, #boxDet{
	position:relative;
	padding:20px;
	margin:100px auto;
	border-radius:2.5px;
	background-color:white;
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.50), 
                0px 8px 11px 1px rgba(0, 0, 0, 0.76), 
                0px 3px 15px 2px rgba(0, 0, 0, 0.68);
}
body{
	background-image:url("../images/background.jpg");
	background-size:cover;
}
._input{
	width:200px;
	height:25px;
	border:none;
	border-radius:3px;
	padding:8px;
	margin:8px;
	font-size:18px;
	background-color:#f8fdff;
	box-shadow:inset 0px 1px 3px 1px #e8e8e8,
				inset 0px -1px 3px 0.5px #e8e8e8;
}
._input:focus {
	color: #ed1941;
	box-shadow:inset 0px 1px 3px 0.8px blue,
				inset 0px -0.5px 1px 0.8px blue;
	background-color: white;
	opacity:1;
}
.button{
	position:absolute;
	
	color:white;
	background-color:blue;
	border-radius:3px;
	border:none;
	margin:8px 15px;
	height:50px;
	font-size:25px;
	cursor:pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56);
	text-align:center;
}

.button:hover{
	opacity:0.6;
}
.warning{
	vertical-align: center;
	color:red;
	position:relative;
	top:-348px;
	left:198px;
	height:25px;  
	padding:11px 30px;
	margin:10px;
	font-size:7.5pt;
	transition:all 0.1 ease;
	background-size:20px 20px;
	background-position: 0px 8px;
	background-repeat:no-repeat;
}
#_submit{
	width:219px;
	left:250px;
}
#_ulIn{
	width:438px;
}
#_ulIn h{
	text-align:center;
	position: relative;
    top: -16px;
}
#_logIn{
	top:140px;
	left:241px;
	width: 217px;
}
#_regist{
	top:207px;
	left:241px;
	width: 217px;
	background-color: white;
	color: gray;
}
#_reset{
	font-size:12px;
	top:378px;
	left:508px;
	height:45px;
	width:45px;
	border-radius:120px;
	background-color: white;
	color: gray;
}

/* show detail page */
h{
	font-size:25px;
	font-weight:bolder;
}
#boxDet{
	width:300px;
	height:300px;
}
#boxIn{
	width:223px;
	height:280px;
}
#boxUp{
	width:400px;
	height:450px;
}
#boxUp ul{
	width: 450px;
}
#boxUp h{
	text-align:center;
	position: relative;
    top: -16px;
	left: 80px;
}
#detail{
	font-size:15pt;
	text-align:left;
	position:absolute;
	width:430px;
	top:20px;
	left:50px;
	line-height:35pt;
	font-weight:border;
}
#_logOut{
	text-align:center;
	width:100px;
	top: -124px;
	left:635px;
	position:absolute;
	
	color:white;
	font-size:20px;
	font-weight: bolder;
	cursor:pointer;
	text-decoration:none;
	background-color: rgba(255, 0, 0, 0.9);
}
#_logOut:hover{
	background-color: rgba(255, 0, 0, 0.8);
}